.catalog-item {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-rows: 112px 40px;
  row-gap: 13px;
  box-sizing: border-box;
  padding-top: 20px;
  height: 190px;
  grid-template-columns: 140px 140px;
  grid-template-areas:
    "catalog-item__img-wrapper catalog-item__item-description"
    "catalog-item__add-to-cart catalog-item__add-to-cart";

  @media (min-width: $tablet-width) {
    position: relative;
    width: 324px;
    height: 511px;
    row-gap: 0;
    grid-template-columns: auto;
    grid-template-rows: 200px auto auto;
    grid-template-areas:
      "catalog-item__img-wrapper"
      "catalog-item__item-description"
      "catalog-item__add-to-cart";
    justify-self: center;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.catalog-item::after {
  @media (min-width: $tablet-width) {
    content: "";
    bottom: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 324px;
    height: 430px;
    background-color: var(--basic-grey);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 431px;
  }
}

.catalog-item__img-wrapper {
  grid-area: catalog-item__img-wrapper;
  margin: 0;
  width: 140px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-content: center;

  &a {
    display: flex;
    align-content: center;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
    margin: 0 auto;
    margin-top: -15px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -20px;
    width: 172px;
    height: 196px;
  }
}

.catalog-item__img {
  object-fit: contain;
  object-position: bottom;
  height: 100%;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 206px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

@media (max-width: $mobile-width-only) {
  .catalog-item__img--little-can {
    object-position: center;
  }

  .catalog-item__img--layout-fixes {
    margin-top: 9px;
  }

  .catalog-item__img--layout-fixes-2 {
    margin-top: 13px;
  }

  .catalog-item__img--layout-fixes-3 {
    margin-top: 8px;
  }
}

.catalog-item__item-description {
  padding-top: 0;
  box-sizing: border-box;
  grid-area: catalog-item__item-description;

  @media (min-width: $desktop-width) {
    padding-top: 23px;
  }
}

.catalog-item__add-to-cart {
  grid-area: catalog-item__add-to-cart;
  margin-bottom: 16px;
  height: 40px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 19px;
    width: 248px;
    justify-self: center;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    justify-self: center;
    margin-bottom: 39px;
  }
}

.catalog-item:first-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(235, 235, 235, 1);
  z-index: 1;
  box-shadow: 20px 0 0 0 rgba(235, 235, 235, 1),
    -20px 0 0 0 rgba(235, 235, 235, 1);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog-item__name {
  margin-top: 0;
  padding-left: 0;
  padding-top: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--o-m-grey);
  width: 80px;
  height: 41px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 20px;
    line-height: 21px;
    width: 150px;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 0;
    padding-bottom: 18px;
  }
}

.catalog-item__item-description a {
  text-decoration: none;
}
