.primary-list {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .primary-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .primary-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
