.contacts-section {
  background-color: var(--basic-grey);
  position: relative;
}

.contacts-section__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 320px;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    margin-top: -2px;
    display: flex;
    width: 768px;
    height: 201px;
    align-content: space-around;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 201px;
    margin-bottom: -296px;
    background-color: var(--background-main);
    margin-left: 0;
  }
}

.contacts-section__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--black-secondary);
  margin: 0;
  display: block;
  width: 44%;
  box-sizing: border-box;
  padding-top: 28px;
  padding-left: 0;
  padding-bottom: 26px;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 26px;
    padding-top: 62px;
    padding-left: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 1px;
    margin-left: 36px;
  }
}

.contacts-section__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--special-grey);
  display: block;
  width: 50%;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 159px;
    text-align: end;
    padding-right: 102px;
    padding-top: 63px;
  }

  span {
    @media (min-width: $tablet-width) {
      display: block;
      margin-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    padding-right: 84px;
  }
}
