.description__header {
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    margin-left: 39px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 53px;
  }
}

.description__paragraph {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 226px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 39px;
    width: 50%;
    margin-top: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 46px;
    width: 30%;
  }
}
