.example {
  --curtain-value: 1;
  --curtain-position: calc(100% * var(--curtain-value));
  display: grid;
  place-items: center;
}

.example__background {
  display: grid;
  grid-template-columns: var(--curtain-position) calc(100% - var(--curtain-position));
  width: 100%;
  max-width: 312px;
  margin-left: -40px;
}

.example__image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.example__image--before {
  object-position: left;
}

.example__image--after {
  object-position: right;
}

.example__toggles {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 5px;
}

.example__button {
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--section-grey);
}

.example__scale {
  --scale-size: 72px;
  margin: 0 14px;
  width: var(--scale-size);
  height: 8px;
  padding: 4px 6px;
  border: none;
  border-radius: 6px;
  background-color: var(--background-main);
}

.example__thumb {
  position: absolute;
  --thumb-size: 35px;
  box-sizing: border-box;
  width: var(--thumb-size);
  height: 8px;
  border-color: var(--shape);
  border-radius: 6px;
  margin-top: 0;
  margin-left: calc((1 - var(--curtain-value)) * (var(--scale-size) - var(--thumb-size)));
  background-color: var(--shape);
}

@media (min-width: $tablet-width) {
  .example {
    margin-top: 52px;
  }

  .example__background {
    max-width: 676px;
    margin-left: 0;
  }

  .example__image {
    height: 520px;
  }

  .example__toggles {
    margin-top: 15px;
    margin-bottom: 69px;
    align-items: center;
    padding-left: 4px;
  }

  .example__button {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted var(--black);
    padding: 0;

    &:hover {
      border-bottom: 1px solid (var(--black) 0.4);
    }

    &:active {
      border-bottom: none;
    }

    &--after {
      transform: translate(-6px);
    }
  }

  .example__scale {
    --scale-size: 428px;
    height: 6px;
    padding: 0;
    background-color: var(--progress-bar);
    margin: 0 25px;
  }

  .example__thumb {
    --thumb-size: 34px;
    box-sizing: border-box;
    margin-top: (6px - 34px) / 2;
    display: grid;
    place-items: center;
    width: var(--thumb-size);
    height: var(--thumb-size);
    border: 1px solid var(--progress-bar);
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 var(--shadow);
    background-color: var(--background-main);
    cursor: grab;

    &:hover {
      box-shadow: 0 2px 4px 0 var(--shadow-hover);
    }

    &:active {
      box-shadow: 0 3px 5px 0 var(--shadow-active);
      border: 1px solid var(--shape);
      cursor: grabbing;
    }

    &:focus {
      outline: 2px solid var(--special-grey);
    }

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      background-color: var(--shape);
      border-radius: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  $bg: 164px;

  .example {
    position: relative;
    background-image: linear-gradient(var(--background-main) $bg, var(--basic-grey) $bg);
    margin-left: -143px;
    margin-top: -35px;
  }

  $a: 1;
  // $a: 0;
  $b: 26px;

  .example__promo {
    $shiftX: $b * (1 + $a);
    min-width: 676px;
    transform: translate($shiftX - 1px, -29px);
  }

  .example__background {
    $shiftX: $b * (1 - $a);
    margin-top: 0;
    margin-left: 0;
    grid-template-columns: calc(#{$shiftX} + 2px + var(--curtain-position)) calc(100% - #{$shiftX} - 2px - var(--curtain-position));
  }

  .example__wrapper--after {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 193px;
      width: 100%;
      height: calc(100% - 193px);
      background-color: var(--background-main);
      box-shadow: 200px 200px 0 200px var(--section-grey);
    }
  }

  .example__toggles {
    $shiftX: $b * (1 - $a);
    margin-top: 35px;
    margin-bottom: 40px;
    transform: translate($shiftX + 2px);
  }

  .example__button {
    background-color: var(--section-grey);
  }
}
