.food-variants {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.food-variants__item {
  height: auto;
  background-color: var(--basic-grey);
  box-sizing: border-box;
  padding: 30px 20px;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-left: 52px;
  }
}

.food-variants__description {
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(217, 217, 217, 1);

  @media (min-width: $tablet-width) {
    border: none;
    padding-bottom: 60px;
  }
}

.food-variants__img--slim::before {
  content: "";
  display: block;
  float: left;
  width: 53px;
  height: 53px;
  background-image: url("../../icons/sprite.svg#slim-img");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -9px;
  margin-right: 19px;
  margin-left: -1px;

  @media (min-width: $tablet-width) {
    float: right;
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    float: left;
    width: 100px;
    height: 106px;
  }
}

.food-variants__img--pro::before {
  content: "";
  display: block;
  float: left;
  width: 67px;
  height: 50px;
  background-image: url("../../icons/sprite.svg#pro-img");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -5px;
  margin-right: 11px;

  @media (min-width: $tablet-width) {
    float: right;
    width: 268px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    float: left;
    width: 134px;
    height: 100px;
  }
}


.food-variants__header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.food-variants__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 12px;
    background-color: var(--black);
    mask-image: url("../../icons/sprite.svg#arrow");
    mask-repeat: no-repeat;
    margin-left: 20px;
    mask-position: -4px;
    mask-size: cover;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::after,
  :active::after {
    mask-position: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
