.food-variants {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin-top: -5px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.food-variants__item {
  height: auto;
  background-color: var(--basic-grey);
  box-sizing: border-box;
  padding: 30px 20px 18px;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 57px;
    height: 372px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-right: 30px;
    height: 374px;
  }
}

.food-variants__description {
  padding-bottom: 22px;
  margin-bottom: 19px;
  border-bottom: 1px solid rgba(217, 217, 217, 1);
  white-space: break-word;

  & br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding-bottom: 50px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -23px;
  }
}

.food-variants__img--slim::before {
  content: "";
  display: block;
  float: left;
  width: 53px;
  height: 53px;
  background-image: url("../../icons/sprite.svg#slim-img");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -9px;
  margin-right: 19px;
  margin-left: -1px;

  @media (min-width: $tablet-width) {
    margin-right: 37px;
    margin-left: 50px;
    margin-top: 3px;
    float: right;
    width: 211px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    float: left;
    width: 160px;
    height: 106px;
    margin-top: -36px;
    margin-left: -58px;
    margin-right: 60px;
  }
}

.food-variants__img--pro::before {
  content: "";
  display: block;
  float: left;
  width: 80px;
  height: 57px;
  background-image: url("../../icons/sprite.svg#pro-img");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -13px;
  margin-right: 11px;
  margin-left: -8px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    margin-right: 10px;
    margin-left: 15px;
    float: right;
    width: 268px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    float: left;
    width: 200px;
    height: 100px;
    margin-left: -54px;
    margin-top: -30px;
    margin-right: 15px;
  }
}


.food-variants__header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
  }
}

.food-variants__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 32px;
    height: 12px;
    background-color: var(--black);
    mask-image: url("../../icons/sprite.svg#arrow");
    mask-repeat: no-repeat;
    margin-left: 17px;
    top: 5px;
    mask-position: -8px;
    mask-size: cover;

    @media (min-width: $tablet-width) {
      top: 9px;
      margin-left: 25px;
    }

    @media (min-width: $desktop-width) {
      top: 8px;
      margin-left: 28px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::after,
  :active::after {
    mask-position: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
