.food-advantages__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 20px;
  counter-reset: myCounter;

  @media (min-width: $tablet-width) {
    list-style: number;
    display: grid;
    grid-template-columns: 235px 249px;
    column-gap: 140px;
    row-gap: 110px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 230px 246px 248px 250px;
    column-gap: 86px;
  }
}

@media (min-width: $tablet-width) {
  .food-advantages__list {
    list-style: number;
    display: grid;
    grid-template-columns: 235px 249px;
    column-gap: 147px;
    row-gap: 114px;
  }
}

@media (min-width: $desktop-width) {
  .food-advantages__list {
    list-style: number;
    display: flex;
    flex-direction: row;
  }
}

.food-advantages__item {
  margin-left: 80px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: -80px;
    margin-top: -3px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    position: relative;
  }

  &::after {
    @media (min-width: $tablet-width) {
      counter-increment: myCounter;
      content: counter(myCounter);
      color: $basic-grey;
      display: flex;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      position: absolute;
      z-index: -1;
      top: -40px;
      right: 0;
    }
  }
}


.eco::before {
  background-image: url("../../img/eco.svg");
}

.chemistry::before {
  background-image: url("../../img/chemistry.svg");
}

.food::before {
  background-image: url("../../img/food.svg");
}

.weight::before {
  background-image: url("../../img/weight.svg");
}
