.food-advantages__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 20px;
  counter-reset: myCounter;

  @media (min-width: $tablet-width) {
    list-style: number;
    display: grid;
    grid-template-columns: 235px 249px;
    column-gap: 149px;
    row-gap: 110px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 230px 246px 248px 250px;
    column-gap: 86px;
  }
}

.food-advantages__item {
  position: relative;
  margin-left: 80px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-left: 0;
    padding-top: 100px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: -80px;
    margin-top: -3px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin-left: 0;
      margin-top: -100px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      counter-increment: myCounter;
      content: counter(myCounter);
      color: var(--basic-grey);
      display: flex;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      position: absolute;
      z-index: -1;
      top: -40px;
      right: 0;
    }
  }
}


.food-advantages--eco::before {
  background-image: url("../../img/eco.svg");
}

.food-advantages--chemistry::before {
  background-image: url("../../img/chemistry.svg");
}

.food-advantages--food::before {
  background-image: url("../../img/food.svg");
}

.food-advantages--weight::before {
  background-image: url("../../img/weight.svg");
}
