.food-effect-slider__var {
  padding-top: 17px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.food-effect-slider__slider-switcher {
  text-align: center;
}

.food-effect-slider--before .food-effect-slider__button {
  background: none;
  border: none;
  width: 84px;

  &::after {
    content: "";
    position: absolute;
    left: (50% - 42px);
    bottom: 10px;
    width: 84px;
    height: 14px;
    background-image: url("../../img/slider.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
  }
}

.food-effect-slider--after .food-effect-slider__button::after {
  background: none;
  border: none;
  width: 84px;

  &::after {
    content: "";
    position: absolute;
    left: (50% - 42px);
    bottom: 10px;
    width: 84px;
    height: 14px;
    background-image: url("../../img/slider-1.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
  }
}
