.page {
  margin: 0;
}

.page__body {
  margin: 0;
}

.page__header {
  display: flex;
  flex-direction: row;
}

.page__footer {
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    margin-top: 106px;
    padding-bottom: 10px;
  }
}

.page__visually-hidden {
  position: absolute;
  transform: scale(0);
}

.page__leveler {
  width: 280px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.page__section-header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page__section-header--catalog {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 122px;
    margin-bottom: 80px;
  }
}

.page__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $background-main;
  text-decoration: none;
  background-color: $button-green;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.page__section-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special-grey;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
