.page-header {
  position: relative;
  border-bottom: 1px solid rgba(217, 217, 217, 1);

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
  }
}

.page-header__logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 15px;

  @media (max-width: $tablet-width - 1) {
    &::after {
      content: "";
      width: 34px;
      height: 38px;
    }
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    width: max-content;
    gap: 12px;
  }
}

.page-header__mark {
  display: block;
  width: 34px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 61px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 66px;
  }
}

.page-header__logo {
  width: 102px;
  height: 18px;
  margin-top: 5px;

  @media (min-width: $desktop-width) {
    margin-top: -3px;
    width: 118px;
    height: 22px;
  }
}
