.promo {
  width: 100%;
}

.promo__cat::before {
  content: "";
  width: 320px;
  height: 302px;
  background-image:
    linear-gradient(
      $promo-transparent,
      $promo-transparent),
    url("../../img/index-background-mobile.png");
  background-color: #4f4f54;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 100%, 320px;
  z-index: -1;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.promo__header-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $background-main;
  text-align: center;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    width: 420px;
  }
}

.promo__paragraph-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $background-main;
  text-align: center;
  padding-top: 25px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
  }
}


@media (min-width: $tablet-width) {
  .promo__header-text,
  .promo__paragraph-text {
    color: $black;
  }
}

@media (min-width: $desktop-width) {
  .promo__header-text,
  .promo__paragraph-text {
    color: $black;
  }
}

.promo__img {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }
}

.promo__button {
  top: 470px;
  left: -10px;
  text-align: center;
  position: absolute;


  @media (min-width: $tablet-width) {
    top: 270px;
    left: 0;
    font-size: 20px;
    line-height: 20px;
    z-index: 1;
    width: 244px;
    padding: 14px 16px;
  }
}
