.promo {
  height: 480px;
}

.promo__cat::before {
  content: "";
  width: 320px;
  height: 302px;
  background-image:
    linear-gradient(
      $promo-transparent,
      $promo-transparent),
    url("../../img/promo-cat.png");
  background-color: #4f4f54;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 100%, 320px;
  background-position-x:
    50%,
    -50px,
    50%;
  z-index: -1;
}

.promo__header-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $background-main;
  text-align: center;
  padding-top: 27px;
}

.promo__paragraph-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $background-main;
  text-align: center;
  padding-top: 25px;
}


@media (min-width: $tablet-width) {
  .promo__header-text,
  .promo__paragraph-text {
    color: $black;
  }
}

@media (min-width: $desktop-width) {
  .promo__header-text,
  .promo__paragraph-text {
    color: $black;
  }
}

.promo__img {
  padding-top: 25px;
}
