.promo-present {
  background-color: $promo-transparent;
}

.promo-present__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $background-main;
}
