.promo {
  box-sizing: border-box;
  width: 100%;
  display: grid;

  @media (max-width: $tablet-width - 1px) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-left: initial;
    padding-bottom: 83px;
  }
}

.promo__cat {
  @media (min-width: $tablet-width) {
    padding-left: 88px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.promo__cat::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 302px;
  background:
    linear-gradient(
      var(--promo-transparent),
      var(--promo-transparent)
    ),
    url("../../img/index-background-mobile.png"),
    linear-gradient(
      to right,
      #4f4f54 50%,
      #424146 50%
    );
  background-color: #4f4f54;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -3;
  margin-left: -4px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    left: initial;
    right: 0;
    top: 0;
    width: 50%;
    height: 694px;
    background-image:
      linear-gradient(
        var(--promo-transparent),
        var(--promo-transparent)),
      url("../../img/promo-cat.png");
    background-color: #4f4f54;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
}

.promo__header-text {
  font-family: "Oswald", "Impact", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: var(--background-main);
  text-align: center;
  padding-top: 0;
  margin-top: 26px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    width: 420px;
    padding-top: 5px;
    padding-left: 0;
    margin-top: 42px;
    margin-left: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    margin-left: 80px;
    margin-bottom: 0;
  }
}

.promo__paragraph-text {
  font-family: "Oswald", "Impact", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: var(--background-main);
  text-align: center;
  margin-top: 21px;
  text-transform: uppercase;
  margin-left: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding-top: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-top: 41px;
    margin-left: 80px;
  }
}


@media (min-width: $tablet-width) {
  .promo__header-text,
  .promo__paragraph-text {
    color: var(--black);
  }
}

@media (min-width: $desktop-width) {
  .promo__header-text,
  .promo__paragraph-text {
    color: var(--black);
  }
}

.promo__img {
  padding-top: 0;

  @media (max-width: $mobile-width-only) {
    display: block;
    margin-bottom: 4px;
  }

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    margin-top: -8px;
    margin-left: -88px;
    object-fit: cover;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    margin-left: 448px;
    margin-top: -291px;
  }
}

.promo__button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 280px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 370px;
    font-size: 20px;
    line-height: 20px;
    z-index: 1;
    width: 244px;
    padding: 18px 26px 16px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 17px 26px;
    height: 54px;
    top: -189px;
    margin-left: -39px;
  }
}
