.scheme-form__end {
  display: flex;
  flex-direction: column;
  margin-top: 39px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 74px;
  }
}

.scheme-form__required-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-top: 21px;
  text-align: center;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-left: 61px;
    margin-top: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
    margin-top: 44px;
    margin-bottom: 28px;
  }
}

.scheme-form__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--special-grey);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.scheme-form__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--background-main);
  text-decoration: none;
  background-color: var(--button-green);
  border: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    height: 52px;
    width: 282px;
    margin-left: 41px;
    margin-top: 19px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    height: 52px;
    margin-left: 0;
    margin-top: 26px;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input[type="number"],
input[type="tel"],
input[type="email"],
input[type="text"],
textarea {
  border: 1px solid var(--form);
  box-sizing: border-box;

  &:hover,
  :focus {
    border: 1px solid var(--dl-border);
  }

  &:active {
    border: 2px solid var(--special-grey);
  }

  &:invalid {
    border: 2px solid var(--form-error);
  }
}
