.scheme-form-cat {
  margin-top: 22px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-left: 41px;
    margin-top: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 36px;
  }
}

.scheme-form-cat div {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 0;
  padding-bottom: 11px;

  & label {
    align-self: center;

    @media (min-width: $tablet-width) {
      margin-bottom: -15px;
    }
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    margin-bottom: 11px;
    padding-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
  }
}

.scheme-form-cat input {
  flex-grow: 1;
  margin-top: 3px;
  height: 45px;
  flex-shrink: 1;
  width: 5ch;

  @media (min-width: $tablet-width) {
    height: 52px;
    margin-top: 10px;
    margin-left: 16px;
    padding-left: 18px;
    margin-right: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 18px;
    margin-top: 9px;
    margin-right: 0;
  }
}

.scheme-form-cat__name-input {
  padding: 14px;
  margin-left: 14px;

  &--error {
    border: 2px solid var(--form-error);
    box-shadow: inset 0 0 0 1px var(--form-error);
  }
}

.scheme-form-cat__weight-input {
  margin-left: 17px;
  padding-left: 14px;

  &--error {
    border: 2px solid var(--form-error);
    box-shadow: inset 0 0 0 1px var(--form-error);
  }
}

.scheme-form-cat__age-input {
  margin-left: 15px;
  padding-left: 15px;

  &--error {
    border: 2px solid var(--form-error);
    box-shadow: inset 0 0 0 1px var(--form-error);
  }
}
