.scheme-form-spec__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $main-text;
}

.scheme-form-spec {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .scheme-form-spec {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .scheme-form-spec {
    flex-direction: row;
  }
}
