.secondary-list {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .secondary-list {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .secondary-list {
    flex-direction: row;
  }
}
