.site-navigation {
  --text-color: var(--main-text);
  --line-color: var(--button-green);

  background-color: var(--background-main);
  z-index: 3;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    width: 50%;
    background-color: transparent;

    &--index {
      --text-color: var(--background-main);
      --line-color: currentColor;
    }
  }

  @media (max-width: $tablet-width - 1px) {
    position: relative;

    &--opened {
      --nav-icon: url("../../icons/sprite.svg#menu-opened");
    }

    &--closed {
      --nav-icon: url("../../icons/sprite.svg#menu-closed");
      --is-nav-visible: none;
    }

    &--nojs {
      --nav-position: static;
      --is-toggel-visible: none;
    }
  }
}

.site-navigation__toggle {
  border: none;
  padding: 0;
  background-color: transparent;

  @media (max-width: $tablet-width - 1px) {
    position: absolute;
    top: -45px;
    right: 0;
    display: var(--is-toggel-visible, flex);
    gap: 12px;
  }

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background: var(--nav-icon) no-repeat center / cover;
  }
}

.site-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  @media (max-width: $tablet-width - 1px) {
    display: var(--is-nav-visible);
    position: var(--nav-position, absolute);
    flex-direction: column;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--background-main);
    box-shadow:
      25vw 0 0 0 var(--background-main),
      50vw 0 0 0 var(--background-main),
      -25vw 0 0 0 var(--background-main),
      -50vw 0 0 0 var(--background-main);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -50vw;
      right: 0;
      height: 1px;
      background-color: var(--special-light-grey);
      box-shadow: 50vw 0 0 0 var(--special-light-grey);
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
  }
}

.site-navigation__item {
  position: relative;
  text-align: center;

  @media (max-width: $tablet-width - 1px) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -50vw;
      right: 0;
      height: 1px;
      background-color: var(--special-light-grey);
      box-shadow: 50vw 0 0 0 var(--special-light-grey);
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.site-navigation__link {
  display: block;
  font-family: "Oswald", "Impact", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-color);
  text-decoration: none;
  padding-top: 23px;
  padding-bottom: 23px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding: 15px 0 11px;
  }

  @media (min-width: 1280px) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding-top: 8px;
    padding-bottom: 7px;
  }

  &[aria-current="page"] {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
    text-decoration-color: var(--line-color);
    // @media (min-width: 768px) {
    // }
  }
}
