.social-footer {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    padding: 37px 0 15px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
    justify-content: space-between;
  }
}


.social-footer__wrapper {
  border-top: 1px rgba(217, 217, 217, 1) solid;
  border-bottom: 1px rgba(217, 217, 217, 1) solid;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    border: none;
    gap: 15px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-top: -2px;
    justify-content: flex-start;
    width: 120px;
    padding-left: 20px;
  }
}

.social-footer__logo-img {
  text-align: center;
  margin-top: 34px;
  margin-bottom: 28px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.social-footer__vk-logo {
  &::after {
    content: "";
    display: inline-block;
    width: 23px;
    height: 19px;
    background-color: var(--o-m-grey-2);
    mask-image: url("../../icons/sprite.svg#icon-vkontakte");
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: top left;
    margin-left: -3px;

    @media (min-width: $tablet-width) {
      width: 38px;
      height: 22px;
      margin-right: 0;
      margin-top: 0;
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }

  &:hover::after {
    background-color: var(--button-green);
  }

  &:active::after {
    background-color: var(--button-green);
    opacity: 0.3;
  }
}

.social-footer__insta-logo {
  &::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: var(--o-m-grey-2);
    mask-image: url("../../icons/sprite.svg#icon-instagram");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: top left;
    margin-left: 0;
    margin-bottom: -6px;

    @media (min-width: $tablet-width) {
      width: 35px;
      height: 22px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-left: 10px;
    }
  }

  &:hover::after {
    background-color: var(--button-green);
  }

  &:active::after {
    background-color: var(--button-green);
    opacity: 0.3;
  }
}

.social-footer__face-logo {
  &::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: var(--o-m-grey-2);
    mask-image: url("../../icons/sprite.svg#icon-facebook");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: top left;
    margin-left: 0;
    margin-bottom: -6px;

    @media (min-width: $tablet-width) {
      mask-position: center;
      width: 45px;
      height: 33px;
      margin-top: -6px;
      margin-left: -5px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 2px;
    }
  }

  &:hover::after {
    background-color: var(--button-green);
  }

  &:active::after {
    background-color: var(--button-green);
    opacity: 0.3;
  }
}

.social-footer__html-academy-logo {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--o-m-grey-2);
  text-decoration: none;
  background-color: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::after {
    position: relative;
    content: "";
    display: inline-block;
    width: 36px;
    height: 41px;
    background-color: var(--o-m-grey-2);
    mask-image: url("../../icons/sprite.svg#htmlacademy");
    mask-repeat: no-repeat;
    margin-top: -30px;
    margin-left: 245px;
    mask-size: cover;
    mask-position: top left;
  }

  &:hover::after {
    background-color: var(--button-green);
  }

  &:active::after {
    background-color: var(--button-green);
    opacity: 0.3;
  }
}

.social-footer__html-academy-wrapper {
  padding-top: 26px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: -33px;
    margin-top: -8px;
    width: 250px;
    height: 59px;
    mask-image: url("../../icons/sprite.svg#htmlacademy-tablet");
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: var(--o-m-grey-2);

    &:hover {
      background-color: var(--button-green);
    }

    &:active {
      background-color: var(--button-green);
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
  }
}
