.social-footer {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .social-footer {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .social-footer {
    display: flex;
    flex-direction: row;
  }
}

.social-footer__vk-logo {
  content: url("../../img/icon-vkontakte.svg");
  display: block;
  width: 100px;
  height: 100px;
  color: $special-grey;
  background-color: $black;
}
