$background-main: rgba(255, 255, 255, 1);
$button-green: rgba(104, 183, 56, 1);
$promo-transparent: rgba(104, 183, 56, 0.85);
$main-text: rgba(0, 0, 0, 1);
$special-grey: rgba(68, 68, 68, 1);
$black-secondary: rgba(17, 17, 17, 1);
$section-grey: rgba(234, 234, 234, 1);
$o-m-grey: rgba(34, 34, 34, 1);
$basic-grey: rgba(242, 242, 242, 1);
$black: rgb(0, 0, 0);
